* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: 'General Sans', sans-serif;
  height: 100%;
  background-color: rgb(230, 230, 230);
  }
  
  body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  /* This box class is purely used for explaining how the bootstrap grid system works. */
  .box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 400px;
    font-size: 2rem;
  }
  
  @media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }
  
  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  }
  
  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }

.navbar {
  background-color: rgb(38, 85, 69);
  
}

#headerBanner,
#footerBanner {
  background-color: rgb(83, 187, 152);
}

.list-inline {
  display: flex;
  width: 100%;
}

.list-inline li {
  flex: 3;

  text-align: center;
  white-space: nowrap;
}

.btn {
  display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    padding: 0.5em 1em;
    border-radius: 6px;
}

.btn:before {
  content: '';
  background: #1bc740;
  position: absolute;
  width: 0%;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.3s linear;
  z-index: -1;
}
.btn:hover:before {
  width: 100%;
}

#titulosPag {
  color: #008C1C;
  -webkit-text-stroke: 1px #000;
}

.card{
  width: 300px;
  height: 450px;
  background-color: rgb(250, 250, 250);
}

.card-text{
  overflow: hidden;
}

.card-subtitle {
  color: rgb(121, 121, 121);
  padding: 4px;
}

.card-link{
  text-decoration: none;
  align-items: flex-end;
}

.card-img-top{
  width: 280px;
  overflow:hidden;
  object-position: 0 0 20px;
}